$colors: (
    'common': (
        'white': #fff,
        'black': #010101,
        'black-2': #000000,
        'black-3': #141a26,
    ),
    'grey': (
        '1':#f5f5f8,
        '2':#cacaca,
    ),
    'text': (
        'body':#727272,
    ),
    'theme': (
        '1': #1774ff,
    ),
    'border': (
    )
);




$white : #fff;
$black : #020626;
$theme-primary : #1774ff;
$border-primary : #F1F1F9;